/*header*/
.table th {
  text-align: center;
}
th{
  width: 33.33%;
}
#mainheader{
  font-size: 400%;
  font-family: "Audiowide", sans-serif;
  margin-bottom: 15px;
}
#title{
  color: black;
  text-decoration: none;
}

.dropdown{
	margin: 0;
  background: #5F9EA0;
  border-radius: 10px;
  width: 100px;
  height: 50px;
  float: right;
  padding: 5px 0px 0px 0px;
  margin-right: 180px;
  margin-bottom: 30px;
}

/*HOME PAGE*/

/*HEADER IMAGE*/
 .container{
   background: url(img/newheader.png);
   height: 220px;
   width:85%;
   margin: auto;
   color: white;
   text-align: center;
  }

/*index boxes and circle*/
.container2{
  width: 95%;
  margin: auto;
}
.column {
  float: left;
  width: 32.5%;
  margin: 5px;
  text-align: center;
  padding: 30px 0px 30px 0px;
}
.column1 {
  float: left;
  width: 32.5%;
  height: 450px;
  margin: 5px;
  border: 3px solid #5F9EA0;
  text-align: center;
}
#offer{
  height: 250px;
  text-align: left;
}

#offer li{
  margin: 5px 5px 0px 5px;
  list-style-type: none; 
}

#offer img{
  margin-right: 10px;
}

.news{
	width: 100%;}

#newsbutton{
	background-color: #5F9EA0;
	border: none;
	color: white;
	width: 90%;
	padding: 30px 34px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
	}

/*footer*/
#footer{
  clear: both;
	background: #5F9EA0;
	text-align: center;
	padding: 20px;
	height: 1%;
}

.social {
  width: 30px;
  height: 30px;
}

/*subscribe button*/
.button {
  background-color: #008B8B; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}
.button:hover{
  color: white;
}

/*About Page*/
.aboutcontainer{
  width: 70%;  
  margin: 50px auto;
}

#aboutimg{
  float: left;
  margin: 0px 40px 60px 0px;
  height: 300px;
}

#aboutimgr{
  float: right;
  margin: 0px 0px 60px 40px;
  height: 300px;
}

#aboutheader{
  padding: 10px 0px 10px 0px;
}

#abouttext{
  font-size: 120%;
  margin: 0px 0px 60px 0px;
  text-align: justify;
}
/*TRACKING PAGE*/
.main_track{
  height: 640px;
  margin: auto;
  width: 40%;
  margin-top: 150px;
  
}
.main_track form{
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 50px;
  width: 40%;
  border: 3px solid #88b9b9;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 10px #b9cac8;
}
/*TIPS PAGE*/
.main_tips{
  height: 1500px;
  margin: auto;
  width: 80%;
  padding: 10px;
}
.main_tips h1{
  text-align: center;
}
.main_tips p{
  padding: 20px;
  
}
.main_tips a{
  float: right;  
}

.main_tips img{
  float: left;
  padding-right: 10px;
  size: 100%;
}

.main_tips h3{
  margin: 20px;
	width: 1400px;
	padding: 5px;
	border-bottom: 2px solid #000;
  
}
.popular{
	margin: 20px;
	height: 225px;
	width: 350px;
  padding-right: 50px;
}
.easy{
	margin: 20px;
	height: 225px;
	width: 350px;
}
.syncing{
	margin: 20px;
	height: 225px;
	width: 350px;
}

.article{
  margin: auto;
  padding: 50px;
}

.article a{
  color: #008B8B;
}

/*SHOP PAGE*/


/*CONTACT*/
.main_contact{
  height: 900px;
}
.main_contact hr{
  margin: 20px;
}
.main_contact h3{
  margin: 20px;
}
.main_contact iframe{
  float: left;
  margin: auto;
  padding: 20px;
  
}
.contact_info{
  margin: auto;
  padding: 20px;
  padding-bottom: 50px;
}
.contact_info h2{
  margin: 20px;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}
.contact_info p{
  margin: 40px;
  line-height: 2;
  font-size: 15pt;
  padding-left: 20px;
}

.main_contact form{
  float: left;
  padding: 50px 0px 50px 40px;
  width: 60%;
}

#contactlaptop{
  width: 40%;
  float: right;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 30px;
}


/**/
/**/
/**/